body {
    margin: 0;
    padding: 0;
}

.clm_nw {
    text-transform: uppercase;
    font-weight: bold!important;
    width:15%;
    cursor: pointer;
}

.clm_nw a{
    text-decoration: none;
    color:black;
}

span {
    color:rgb(16, 241, 16);
    font-weight: bold!important;
}

.navbar-nav{
    display:flex;
    justify-content: center;
    text-align: center;
    background-color:rgb(16, 241, 16)!important;
    width: 60%;
    font-size: 15px;

}

.navbar-nav .pipe{
    display:inline-block;
    padding: 6px 15px 8px 15px;
    color:black!important;
}

.navbar-nav li a{
    display:inline-block;
    text-decoration: none;
    padding: 8px 15px 8px 15px;
    color:black!important;
    font-weight: 500;
 
}

.navbar-nav li a:hover{
    transition: .2s;
    color:rgb(255, 255, 255)!important;
}

.valid {
    font-size: 13px;
    color:rgb(145, 143, 143);
}


@media only screen and (max-width: 600px) {
    .clm_nw {
        width: 70%;
    }

    p{
        text-align: left;
        margin-left: 20px;
    }
    h1 {
        text-align: left;
        margin-left: 20px;
    }
  }